blinker==1.9.0
CacheControl==0.14.4
certifi==2024.12.14
cffi==2.0.0
charset-normalizer==3.4.1
click==8.3.1
colorama==0.4.6
defusedxml==0.7.1
et_xmlfile==2.0.0
Flask==3.0.0
Flask-Limiter==3.5.0
idna==3.10
itsdangerous==2.2.0
Jinja2==3.1.6
Levenshtein==0.26.1
limits==5.8.0
MarkupSafe==3.0.3
msgpack==1.1.2
numpy==2.2.2
openpyxl==3.1.5
packaging==26.0
pandas==2.2.3
platformdirs==4.9.2
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
pytz==2024.2
RapidFuzz==3.11.0
requests==2.32.4
sortedcontainers==2.4.0
typing_extensions==4.15.0
tzdata==2025.1
urllib3==2.6.3
Werkzeug==3.1.5
gunicorn==24.0.0
pycryptodome==3.23.0
